[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = {version = "*", extras = ["complete"]}
crayons = "*"
funtime = {editable = true, path = "."}

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
